.navigation {
    display: flex;
    padding: 24px 0px 0px 8px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

* {
    scroll-behavior: smooth;
}

a {
    display: block;
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
    scroll-behavior: smooth;
}
.gap-10 {
    gap: 10px;
}

