.top-project {

    width: 95%;
    height: 95%;
    border-radius: 50%;
    border: 2px solid var(--secondary-text);
    background: url(../../../../../public/project1.png) lightgray 50% / cover no-repeat;
}

.top-project-container {
    aspect-ratio: 1 / 1;
    padding: 0px 1.316px 1.282px 1.974px;
    width: 100px;
    height: 100px;

}


