


<div class="container  mt-1">
    <div class="projects-container">


    <div class="mx-4 row justify-content-around text-center">
        <div class="top-project-container text-center col-3 position-relative">
            <app-project [projectTitle]="'Netflix-like Streaming Service'" [projectLink]="'https://www.figma.com/design/Nt1NYOAtkegTsxiPOZZ6cu/Figma-Book-Project?node-id=1-54&t=YiIEbi5yrxiP4bPS-1'"></app-project>    
        </div>
         <div class="top-project-container text-center col-3 position-relative" >
            <app-project [projectTitle]="'FitnessHub-AI'" [projectLink]="'https://fitnesshub-ai.com/ar/home'"></app-project>
        </div>
        <div class="top-project-container text-center col-3 position-relative">
            <app-project [projectTitle]="'Open Source Contribution'" [projectLink]="'https://github.com/yousefmarey12'"></app-project>
        </div>
    </div>
   <div class="row justify-content-center mt-4">
        <h2 class="col text-font-color text-center fn-medium-title">Yousef's favorite projects</h2>
    </div> 
</div>
</div>