


<div class="container  mt-1">
    <div class="projects-container">


    <div class="mx-4 row justify-content-around text-center">
        <div class="top-project-container text-center col-3 position-relative">
            <app-project></app-project>    
        </div>
         <div class="top-project-container text-center col-3 position-relative" >
            <app-project ></app-project>
        </div>
        <div class="top-project-container text-center col-3 position-relative">
            <app-project></app-project>
        </div>
    </div>
   <div class="row justify-content-center mt-4">
        <h2 class="col text-font-color text-center fn-medium-title">Yousef's favorite projects</h2>
    </div> 
</div>
</div>