    <div class="position-sticky top-0 secondary-bg z-4" style="width: 100%; height: 60px;"> 
       

   
        <div class="hamburger-container position-absolute top-50 translate-middle-y" (click)="toggleEvent()" style="cursor: pointer;">   
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="11" viewBox="0 0 21 11" fill="none" class="">
            <line y1="0.5" x2="21" y2="0.5" stroke="black"/>
            <line y1="5.5" x2="21" y2="5.5" stroke="black"/>
            <line y1="10" x2="21" y2="10" stroke="black"/>
        </svg>
       
    </div>   
    <h1 class="fn-large-title text-font-color position-absolute top-50 translate-middle-y prevent-select" style="right: 8px;">
        Yousef Marey
    </h1>
    </div>
