.hamburger-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--secondary-text);
    width: 38px;
    height: 38px;
    border-radius: 10px;
    left: 8px;
    border: 1px;
    cursor: pointer;
}